html {
	position: relative;
	min-height: 100%;
}

body {
  margin: 0;
}

.title {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.title-background {
  width: 100%;
  position: relative;
}

.title-content {
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.slogan {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: black;
  text-align: center;
}

.slogan-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 8rem;
}

.price {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.price-background {
  width: 100%;
  display: block;
}

.price-content {
  z-index: 100;
  color: black;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.price-title {
  text-transform: uppercase;
}

.price-item {
  border:2px #5C90B0 solid;
  border-radius: 3px;
  font-weight: bold;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.price-name {
  text-transform: uppercase;
}

.order-button {
  border-radius: 3px;
  border:2px red solid;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 1em;
  padding: .1rem 1rem;
}

.footer {
  font-size: 1rem;
  color: white;
  background-color: black;
  text-align: center;
}

.footer-text {
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 8rem;
}

.modal-content {
  background: transparent;
  border: none;
}

.modal-header {
  border: none;
}

.modal-title {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.modal-header h2 {
  width: 100%;
  text-align: center;
}

.modal-backdrop.show {
  opacity: .9;
}

.control-label {
  color: white;
  font-weight: bold;
}

.form-control {
  border: 2px solid #3c6796;
  border-radius: 3px;
  background: transparent;
}

.order-form-submit {
  background: transparent;
  border-radius: 3px;
  border:2px red solid;
  text-transform: uppercase;
  font-weight: bold;
}