<div class="form {% if field.errors %}has-error{% endif %}">
    <label for="{{ field.auto_id }}" class="control-label col-auto">
        {% block label %}
            {{ field.label }}
        {% endblock %}
    </label>

    {% block help-block %}
        {% if field.help_text %}
            <span class="help-block">{{ field.help_text }}</span>
        {% endif %}
    {% endblock %}

    {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}

    {% block input %}{% endblock %}
</div>