{% extends "forms/fields/field.html" %}

{% block input %}
    <div class="checkbox-group">
        {% for value, text in field.field.choices %}
        <div class="custom-checkbox">
            <input id="{{ field.auto_id }}" type="checkbox" name="{{ field.name }}" value="{{ value|default_if_none:'' }}"{% if value in form.cleaned_data.options %} checked{% endif %}>
            <label class="checkbox-label" for="{{ field.name }}">{{ text }}</label>
        </div>
        {% endfor %}
    </div>
{% endblock %}