html {
	position: relative;
	min-height: 100%;
}

.title {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.title-background {
  width: 100%;
}

.price {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.price-background {
  width: 100%;
}