html {
	position: relative;
	min-height: 100%;
}

body {
  margin: 0;
}

.title {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.title-background {
  width: 100%;
  display: block;
}

.title-content {
  z-index: 100;
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 20%;
  right: 20%;
  bottom: 30%;
}

.slogan {
  font-size: 2rem;
  color: white;
  background-color: black;
  text-align: center;
}

.price {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.price-background {
  width: 100%;
  display: block;
}

.price-content {
  z-index: 100;
  color: black;
  text-align: center;
  position: absolute;
  top: 10%;
}

.price-name {
  display: inline;
  border:2px #00FFFF solid;
  text-transform: uppercase;
}

.price-value {
  display: inline;
  border:2px #00FFFF solid;
  text-transform: uppercase;
}

.footer {
  font-size: 1rem;
  color: white;
  background-color: black;
  text-align: center;
}