<!DOCTYPE html>
{% spaceless %}
    {% load staticfiles %}
{% endspaceless %}
<html lang="en">
    <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- JQuery UI CSS -->
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

            <!-- Custom CSS -->
            <link href="{% static 'css/index.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="title">
            <img class="title-background" src="{% static 'images/title.jpg' %}" />
            <div class="title-content">
                Онлайн трансляция мероприятий
            </div>
        </div>
        <div class="slogan">
            Переходи на новый уровень<br>вместе с нами!
        </div>
        <div class="price">
            <img class="price-background" src="{% static 'images/price.jpg' %}" />
            <div class="price-content">
                <div class="price-title">Организация трансляций до 2 часов</div>
                <div class="price-item-group">
                    <div class="price-item">
                        <div class="price-name">1 камера</div>
                        <div class="price-value">2 700,00 руб</div>
                    </div>
                    <div class="price-item">
                        <div class="price-name">2 камеры</div>
                        <div class="price-value">5 450,00 руб</div>
                    </div>
                    <div class="price-item">
                        <div class="price-name">3 камеры</div>
                        <div class="price-value">6 850,00 руб</div>
                    </div>
                    <div class="price-item">
                        <div class="price-name">+1 комментатор</div>
                        <div class="price-value">+1 400,00 руб</div>
                    </div>
                    <div class="price-item">
                        <div class="price-name">+2 комментатора</div>
                        <div class="price-value">+2 800,00 руб</div>
                    </div>
                    <div class="price-item">
                        <div class="price-name">наш интернет</div>
                        <div class="price-value">от 200,00 до 2000,00 руб</div>
                    </div>
                </div>
                <input type="button" id="order-button" class="order-button" value="Заказать" />
            </div>
        </div>
        <div class="footer">
            Все права защищены
        </div>
        <div id="dialog" style="display: none"></div>

        <!-- Libraries -->
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- jQuery UI -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <!-- Page javascript -->
        <script type="text/javascript">
            $(function () {
                $("#dialog").dialog({
                    autoOpen: false,
                    modal: true,
                });

                var formAjaxSubmit = function(form, modal) {
                    $(form).submit(function (e) {
                        e.preventDefault();
                        $.ajax({
                            type: $(this).attr('method'),
                            url: $(this).attr('action'),
                            data: $(this).serialize(),
                            success: function (xhr, ajaxOptions, thrownError) {
                                if ( $(xhr).find('.has-error').length > 0 ) {
                                    $(modal).html(xhr);
                                    formAjaxSubmit(form, modal);
                                } else {
                                    $(modal).dialog('close');
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                $(modal).dialog('close');
                            }
                        });
                    });
                }

                $("#order-button").click(function () {
                    $.ajax({
                        type: "GET",
                        url: "{% url 'order' %}",
                        context: document.body
                    }).done(function(response) {
                        $("#dialog").html(response);
                        $("#dialog").dialog("open");
                        formAjaxSubmit('.order-form', '#dialog');
                    });
                });
            });
        </script>
    </body>
</html>
