<!DOCTYPE html>
{% spaceless %}
    {% load staticfiles %}
{% endspaceless %}
<html lang="en">
    <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Custom CSS -->
            <link href="{% static 'index.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="title">
            <img class="title-background" src="{% static 'title.jpg' %}" />
            <div class="title-content">
                Онлайн трансляция мероприятий
            </div>
        </div>
        <div class="slogan">
            Переходи на новый уровень<br>вместе с нами!
        </div>
        <div class="price">
            <img class="price-background" src="{% static 'price.jpg' %}" />
            <div class="price-content">
                <div class="price-disclamer">Оргианизация трансляций до 2 часов</div>
                <div class="price-item-group">
                    <div class="price-item">
                        <div class="price-name">1 камера</div>
                        <div class="price-value">2700,00 руб</div>
                    </div>
                    <div class="price-item">
                        <div class="price-name">2 камеры</div>
                        <div class="price-value">5450,00 руб</div>
                    </div>
                    <div class="price-item">
                        <div class="price-name">3 камеры</div>
                        <div class="price-value">6850,00 руб</div>
                    </div>
                    <div class="price-item">
                        <div class="price-name">+1 комментатор</div>
                        <div class="price-value">+1400,00 руб</div>
                    </div>
                    <div class="price-item">
                        <div class="price-name">+2 комментатора</div>
                        <div class="price-value">+2800,00 руб</div>
                    </div>
                    <div class="price-item">
                        <div class="price-name">наш интернет</div>
                        <div class="price-value">от 200,00 до 2000,00 руб</div>
                    </div>
                </div>
                <button>Заказать</button>
            </div>
        </div>
        <div class="footer">
            Все права защищены
        </div>
    </body>
</html>
