<!DOCTYPE html>
{% spaceless %}
    {% load staticfiles %}
{% endspaceless %}
<html lang="en">
    <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Custom CSS -->
            <link href="{% static 'css/order.css' %}" rel="stylesheet">
    </head>
    <body>
        <form>
            {% include "forms/errors.html" with errors=form.non_field_errors %}
            <div>
                {% csrf_token %}
                {% include "forms/fields/text.html" with field=form.event %}
                {% include "forms/fields/text.html" with field=form.place %}
                {% include "forms/fields/date.html" with field=form.date %}
                {% include "forms/fields/text.html" with field=form.name %}
                {% include "forms/fields/text.html" with field=form.phone %}
                {% include "forms/fields/email.html" with field=form.email %}
                {% include "forms/fields/multicheckbox.html" with field=form.options %}
                {% include "forms/fields/textarea.html" with field=form.comments %}
            </div>
            <div>
                <button type="submit">Отправить заявку</button>
            </div>
        </form>
    </body>
</html>
